@import '../modules/variable.scss';
@import '../modules/classes.scss';
@import '../modules/mixins.scss';





.container-main {
    padding-top: 120px;
    h1 {
        @extend %title1-2;
        @extend %position-article;
        font-family: 'EB Garamond';
    }
    .main-content {
        @extend %position-article;
        font-family: 'Caladea';
        p {
            @extend %text-body-lg;
            margin-bottom: 24px;
            .letter-box {
                color: orange;
                float: left;
                margin: 10px 10px 4px 0;
                width: 70px;
                height: 70px;
                text-align: center;
                text-transform: uppercase;
                font-weight: 700;
                padding: 4px 0 5px;
                font-size: 60px;
                line-height: 60px;
                border-top: 3px solid black;
                border-left: 3px solid black;
                // border: 3px solid black;
            }
        }
        p {
            .uppercase-italic {
                font-family: 'Oswald', sans-serif;
                font-weight: 300;
                color: orange;
                text-transform: uppercase;
                font-style: italic;
                font-size: 27px;
                float: right;
                // margin-left: 5%;
                width: 45%;
                border-bottom: 4px solid #282828;
                // border-top: 4px solid #282828;
                border-right: 4px solid #282828;;
                padding: 10px 0 24px 10px;
                margin: 14px 0 24px 0;
            }
        }
        p {
            mark {
                background-color: rgba(242, 242, 242, 1);
            }
        }
    }
    .images {
        @include display(flex);
        @include flex-property(center,center);
        flex-wrap: wrap;
        margin-bottom: 32px;
        width: 100%;
        img {
            max-width: 40%;
            margin: 8px;
        }
    }
}



@media (max-width: 480px) {
    .container-main {
        .main-content {
            p {
                .uppercase-italic {
                    width: 45%;
                border-bottom: 4px solid #282828;
                border-top: 4px solid #282828;
                border-right: none;
                padding: 16px 0 16px 10px;
                margin: 16px 0 16px 0;
                }
            }
        }
    }
}