@import '../modules/variable.scss';
@import '../modules/classes.scss';
@import '../modules/mixins.scss';
@import '../basic/font.scss';


footer {
    background-color: $main-color;
    color: $color-white;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 48px;
    .footer-content {
        @extend %position;
        width: 86%;
        .footer-ttl {
            font-size: $text-2xl;
            margin-bottom: 24px;
            max-width: 640px;
            line-height: 38px;
        }
        .about-mail-wrap {
            font-family: 'Open Sans', sans-serif;
            p {
                font-size: $text-medium;
                line-height: 22px;
                margin-bottom: 4px;
                @include mobile {
                    font-size: $text-base;
                }
                a {
                    color: $color-white;
                    font-weight: 600;
                    @include position(relative);
            &::after {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $color-white;
                opacity: 0;
                transition: all 0.2s linear;
            }
            &:hover::after {
                opacity: 1;
                bottom: -1px;
            }
                }
            }
        }
        .copy-social {
            @include flex(space-between);
            @extend %tb-border-gray;
            flex-wrap: wrap;
            margin: 32px 0 32px 0;
            padding: 16px 0 16px 0;
            font-family: 'Open Sans', sans-serif;
            font-size: $text-s;
            @include mobile {
                @include flexLeft(column);
                font-size: $text-base;
                .copyrigh {
                    font-size: $text-base;
                }
            }
            .footer-nav {
                @include flex(center);
                @include mobile {
                    padding: 32px 16px 16px 0;
                    font-size: $text-base;
                }
                &__item {
                    display: flex;
                    a {
                        @include flex(center);
                        color: $color-white;
                        &::after {
                            content: "";
                            width: 4px;
                            height: 4px;
                            border-radius: 100%;
                            background-color: $color-white;
                            margin-left: 6px;
                            margin-right: 6px;
                            display: block;
                        }
                    }
                }
                &__item-3 {
                    a {
                        color: $color-white;
                    }
                }
            }
            .social-icons {
                @include display(flex);
                @include mobile {
                    @include flex-property(space-between,center);
                    width: 100%;
                    margin: 0 auto;
                    // border-top: 2px solid $border-gray;
                    padding-top: 24px;
                }
                li {
                    margin-left: 16px;
                    @media (max-width: 480px) {
                            margin: 0 auto;
                        }
                    a {
                        ion-icon {
                            font-size: 24px;
                            color: $color-white;
                          }
                    }
                } 
            }
        }
        .git {
            p {
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                font-size: $text-s;
                @media (max-width: 480px) {
                    font-size: $text-base;
                    line-height: 22px;
                }
                a {
                    @include t-decoration(underline);
                    color: $color-white;
                }
            }
        }
    }
}