@import '../modules/variable.scss';
@import '../modules/classes.scss';
@import '../modules/mixins.scss';

.container-main {
    @extend %position;
    .navigation {
        @include display(flex);
        @include flex-property(space-between,center);
        @include t-transform(capitalize);
        @extend %text-nav;
        font-family: 'Josefin Sans', sans-serif;
        position: fixed;
        top: 0;
        height: 66px;
        width: 90%;
        background-color: $color-white;
        .logo-nav {
            @include display(flex);
            @include flex-property(flex-start,center);
            ul {
                @include display(flex);
                .nav-li {
                    margin-right: 32px;
                }
            }
        }
    }
    .value-p {
        @include col-center;
        font-family: 'EB Garamond', serif;
        margin-bottom: 160px;
        margin-top: 90px;
        .text {
            text-align: center;
           h1 {
               @extend %title1;
           }
           p {
            @extend %title2; 
            line-height: 28px; 
           }
        }
        .banner-img {
            width: 100%;
            margin: 32px 0 32px 0; 
        }
        p {
            font-size: $text-2xl;
            color: $sec-color;
            line-height: 40px;
            letter-spacing: 0.5px;
          .bold {
              font-weight: 700;
          }
          .underline {
              text-decoration: underline;
          }
        }
    }
    .featured {
        .featured-title {
            @include col-center;
            text-align: center;
            h2 {
                @include t-transform(uppercase);
                @extend %title2;
                font-family: 'Oswald', sans-serif;
            }
            p {
                @extend %text-body-lg;
                font-family: 'Caladea', serif;
                margin-bottom: 32px;
            }
        }
        ul {
            @include display(flex);
            @include flex-property(center,center);
            flex-wrap: wrap;
            margin-bottom: 32px;
            li {
                a {
                    @include t-transform(uppercase);
                    @include t-decoration(underline);
                    font-family: 'Oswald', sans-serif;
                    font-weight: 400;
                    letter-spacing: 0.5px;
                    margin-right: 16px;
                    color: $main-color;
                }
            }
        }
        .boxes {
            @include display(flex);
            @include flex-property(space-around,center);
            flex-wrap: wrap;
            margin-top: 42px;
            .box {
                @include shadow;
                max-width: 330px;
                padding: 24px;
                margin: 8px;
                border-radius: 8px;
                h3 {
                    @include t-transform(uppercase);
                    @extend %title3;
                    font-family: 'Oswald', sans-serif;
                }
                p {
                    font-family: 'Caladea', serif;
                    @extend %text-body-medium;
                }
                img {
                    max-width: 282px;
                    margin-bottom: 16px;
                }
                span {
                    @include t-decoration(underline);
                }
            }
        }
    }
    .section-reviews {
        @include display(flex);
        @include flex-property(space-around,center);
        flex-wrap: wrap;
        margin: 8px;
        .review {
            align-self: flex-start;
            .popover {
                @include popover;
                @include position(relative);
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -16px;
                    left: 16px;
                    width: 0;
                    height: 0;
                    border-top: 16px solid #ffffff;
                    border-right: 24px solid transparent;
     
                }
                p {
                    @extend %text-base;
                    font-family: 'Caladea', serif;
                }
             }
             .img-name-wrap {
                 @include display(flex);
                 @include flex-property(space-between,center);
                 max-width: 260px;
                 img {
                     width: 40px;
                     height: 40px;
                     object-fit: cover;
                     border-radius: 100%;
                 }
                 ul {
                     @include t-transform(uppercase);
                     font-size: $text-xs;         
                     font-family: 'Oswald', sans-serif;
                     font-weight: 300;
                     letter-spacing: 0.5px;
                     margin-right: 16px;
                     color: $main-color;
                     .name {
                         margin-bottom: 6px;
                     }
                 }
             }
        } 
    }
}
footer {
    background-color: $main-color;
    color: $color-white;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 48px;
    .footer-content {
        @extend %position;
        width: 86%;
        h2 {
            font-size: $text-2xl;
            margin-bottom: 16px;
        }
        .about-mail-wrap {
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 300;
            p {
                font-size: $text-medium;
                margin-bottom: 4px;
                a {
                    color: $color-white;
                }
            }
        }
        .copy-social {
            @include display(flex);
            @include flex-property(space-between,flex-start);
            @include tb-border-gray;
            flex-wrap: wrap;
            margin: 32px 0 32px 0;
            padding: 16px 0 16px 0;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 300;
            font-size: $text-medium;
            ul {
                @include display(flex);
                li {
                    margin-right: 4px;
                    a {
                        color: $color-white;
                    }
                } 
            }
        }
        div {
            p {
                font-family: 'Josefin Sans', sans-serif;
                font-weight: 300;
                font-size: $text-medium;
                a {
                    @include t-decoration(underline);
                    color: $color-white;
                }
            }
        }
    }
}