@import '../modules/variable.scss';
@import '../modules/classes.scss';
@import '../modules/mixins.scss';

.container-main {
    @extend %position;
    .navigation {
        @include display(flex);
        @include flex-property(space-between,center);
        @include t-transform(capitalize);
        font-size: $text-medium;
        .logo-nav {
            @include display(flex);
            @include flex-property(flex-start,center);
            ul {
                @include display(flex);
                .nav-li {
                    margin-right: 32px;
                }
            }
        }
    }
    .value-p {
        @include col-center;
        font-family: 'EB Garamond', serif;
        margin-bottom: 160px;
        .text {
            text-align: center;
           h1 {
               @extend %title1;
           }
           p {
            @extend %title2; 
            line-height: 28px; 
           }
        }
        .banner-img {
            width: 100%;
            margin: 32px 0 32px 0; 
        }
        p {
          @extend %title2;
          .bold {
              font-weight: 700;
          }
          .underline {
              text-decoration: underline;
          }
        }
    }
    .featured {
        .featured-title {
            @include col-center;
            text-align: center;
            h2 {
                @include t-transform(uppercase);
                font-size: $text-2xl;
                text-align: center;
            }
            p {
                @extend %text-medium;
            }
        }
        ul {
            @include display(flex);
            @include flex-property(center,center);
            flex-wrap: wrap;
            li {
                @include t-transform(uppercase);
                margin-right: 16px;
                text-decoration: underline;
            }
        }
        .boxes {
            @include display(flex);
            @include flex-property(space-around,center);
            flex-wrap: wrap;
            .box {
                max-width: 330px;
                padding: 24px;
                margin: 8px;
                background-color: gray;
            }
        }
    }
    .section-reviews {
        @include display(flex);
        @include flex-property(space-around,center);
        margin: 8px;
        flex-wrap: wrap;
        .review {
            align-self: flex-start;
            .popover {
                @include popover;
                @include position(relative);
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -16px;
                    left: 16px;
                    width: 0;
                    height: 0;
                    border-top: 16px solid #ffffff;
                    border-right: 24px solid transparent;
     
                }
             }
             .img-name-wrap {
                 @include display(flex);
                 @include flex-property(space-between,center);
                 max-width: 300px;
                 img {
                     width: 40px;
                     height: 40px;
                     object-fit: cover;
                     border-radius: 100%;
                 }
                 ul {
                     @include t-transform(uppercase);
                     font-size: $text-xs;
                     .name {
                         margin-bottom: 6px;
                     }
                 }
             }
        } 
    }
}
footer {
    background-color: $main-color;
    color: #ffffff;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 48px;
    .footer-content {
        @extend %position;
        width: 86%;
        h2 {
            font-size: $text-2xl;
            margin-bottom: 16px;
        }
        .about-mail-wrap {
            p {
                margin-bottom: 4px;
                a {
                    color: #ffffff;
                }
            }
        }
        .copy-social {
            @include display(flex);
            @include flex-property(space-between,flex-start);
            flex-wrap: wrap;
            border-top: 1px solid rgb(58, 55, 55);
            border-bottom: 1px solid rgb(58, 55, 55);
            margin-top: 32px;
            margin-bottom: 32px;
            padding-top: 16px;
            padding-bottom: 16px;
            ul {
                @include display(flex);
                li {
                    margin-right: 4px;
                } 
            }
        }
        div {
            p {
                a {
                    @include t-decoration(underline);
                    color: #ffffff;
                }
            }
        }
    }
}