@import '../modules/mixins.scss';
@import '../modules/variable.scss';

.menu-nav__link {
  color: #6e6d7a;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

@include mobile {
    .menu-btn {
      position: absolute;
      z-index: 1;
      right: 1rem;
      top: 1rem;
      height: 20px;
      width: 28px;
      cursor: pointer;
      @include transition-ease;
    
      &__burger {
        position: absolute;
        right: 0;
        top: 0.5rem;
        width: 28px;
        height: 3px;
        background: #222222;
        @include transition-ease;
    
        &::before {
          content: '';
          position: absolute;
          top: -8px;
          width: 28px;
          height: 3px;
          background: #222222;
          @include transition-ease;
        }
    
        &::after {
          content: '';
          position: absolute;
          top: 8px;
          width: 20px;
          height: 3px;
          background: #222222;
          @include transition-ease;
        }
    
        &.open {
          transform: rotate(180deg);
          background: transparent;
    
          &::before {
            transform: rotate(45deg) translate(5px, 8px);
          }
    
          &::after {
            width: 28px;
            transform: rotate(-45deg) translate(3px, -7px);
          }
        }
      }
    }
    
    .nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      opacity: 0.98;
      visibility: hidden;
    
      &.open {
        visibility: visible;
      }
    
      .menu-nav {
        display: flex;
        flex-flow: column wrap;
        // align-items: center;
        // justify-content: center;
        // სიმაღლე არ უნდა იყოს 100vh და გამოჩნდება აიკონები.
        height: 82vh;
        overflow: hidden;
        background: #fff;
        list-style-type: none;
        padding-right: 1rem;
        padding-left: 24px;
        margin-top: 60px;
        // თუ გვინდა ზემოდან ჩამოვიდეს მენიუ, ვერტიკალურად, მაშინ Y ღერძს ვუთითებთ:
        // transform: translateY(-100%);
  
        // თუ გვინდა ჰორიზონტალურად გამოვიდეს მენიუ X ღერძს ვუთითებთ translateX
        transform: translateX(100%);
        @include transition-ease;
    
        &.open {
          transform: translateY(0);
        }
    
        &__item {
          transform: translateX(100vw);
          @include transition-ease;
    
          &.open {
           transform: translateX(0); 
          }
    
          &.active > a {
            color: $secondary-color;
          }
        }
    
        &__link {
          display: inline-block;
          font-size: 24px;
          text-transform: uppercase;
          padding: 16px 0;
          font-weight: 400;
          @include transition-ease;
    
          &:hover {
            color: $secondary-color;
          }
        }
      }


    .menu-soc {
      @include flex(space-around);
      background: $color-white;
      border-top: 1px solid #cccccc;
      padding-top: 32px;
      padding-bottom: 32px;
      &__link{
        font-size: 24px;
        color: $main-color;
      }
    }
    }
    
  
  
    // პირველიდან 4-მდე იმიტომ, რომ 4 ლინკი გვაქვს ნავიგაციაში. 
    // #{$i} ნიშნავს, რომ იმოქმედოს ყველა შვილზე.
    @for $i from 1 through 4 {
      .menu-nav__item:nth-child(#{$i}) {
        transition-delay: ($i * 0.1s) + 0.15s;
      }
    }
  
    // თუ გვინდა ბოლო შვილი არ ჩაითვალოს :
    // @for $i from 1 to 4 
  
}