@import '../modules/classes.scss';
@import '../modules/mixins.scss';
@import '../modules/variable.scss';


@media (min-width: 481px) {
    header {
        position: fixed;
        top: 0;
        z-index: 10;
        margin: 0 auto;
        width: 100%;
        background-color: $color-white;
        nav {
            @include flexLeft(row);
            @include t-transform(capitalize);
            max-width: 1200px;
            width: 90%;
            flex-wrap: wrap;
            font-family: 'Open Sans', sans-serif;
            font-size: $text-s;
            color: #222222;
            font-weight: 600;
            margin: 24px auto;
            .menu-nav {
                @include display(flex);
                &__item {
                    margin-right: 32px;
                }
                &__link {
                    color: #222222;
                    font-size: 18px;
    
                    &:hover {
                        background: -webkit-linear-gradient(90deg, rgba(255,0,138,1) 0%, rgba(152,0,255,1) 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
            .menu-soc {
                display: flex;
                &__icons {
                    .menu-soc__link {
                        color: #222222;
                        font-size: $text-lg;
                        padding: 16px;
                    }
                }
            }
        }
    }
}