@import './variable.scss';

%position {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

%position-article {
    max-width: 680px;
    width: 100%;
    margin: 0 auto;
}

%title1 {
    color : $main-color;
    font-size: $text-3xl;
    text-transform: capitalize;
    font-weight: 800;
    margin: 32px 0 8px 0;
}

%title1-2 {
    color : $main-color;
    font-size: $text-40;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 32px;
}

%title2 {
    font-size: $text-2xl;
    margin-bottom: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

%title3 {
    font-size: $text-lg;
    font-weight: 600;
    margin-bottom: 8px;
}

%title5 {
    font-size: $text-base;
    margin-bottom: 16px;
    letter-spacing: 2%;
    color: $main-color;
    text-transform: uppercase;
}


%text-base {
    font-size: $text-base;
    color: $sec-color;
    letter-spacing: 0.2px;
    line-height: 20px;
    margin-bottom: 4px;
}

%text-body-lg {
    font-size: $text-body-lg;
    color: $sec-color;
    line-height: 28px;
    letter-spacing: 0.3px;
}

%text-body-medium {
    font-size: $text-medium;
    color: $sec-color;
    line-height: 26px;
    letter-spacing: 0.3px;
}


%popover {
    max-width: 336px;
    padding: 16px 24px;
    border-radius: 10px;
    box-shadow: 0px 14px 34px rgba(23, 55, 87, 0.1);
    margin-top: 50px;
    margin-bottom: 24px;
    color: $main-color;
}

%shadow {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 14px 34px rgba(23, 55, 87, 0.1);
}

%tb-border-gray {
    border-top: 1px solid $border-gray;
    border-bottom: 1px solid $border-gray;
}

%col-center {
    flex-direction: column;
    margin: 0 auto;
    max-width: 620px;
}
