@import './variable.scss';

%position {
    max-width: 1270px;
    width: 90%;
    margin: 32px auto;
}

%title1 {
    color : $sec-color;
    font-size: $text-2xl;
    text-transform: capitalize;
    font-weight: 800;
    margin: 32px 0 8px 0;
}

%title2 {
    color : $main-color;
    font-size: $text-xl;
    text-transform: capitalize;
    line-height: 43px;
    letter-spacing: -0.25px;
}

%title3 {
    color: $main-color;
    font-size: $text-medium;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 4px;
}
%text-base {
    font-size: $text-base;
    color: $sec-color;
    margin-bottom: 16px;
}