@import './variable.scss';

@mixin display($property) {
    display: $property;
}

@mixin flex-property($justify,$align) {
    justify-content: $justify;
    align-items: $align;
}

@mixin t-transform($t-transform) {
    text-transform: $t-transform;
}

@mixin col-center {
    flex-direction: column;
    margin: 0 auto;
    max-width: 620px;
}