@import './variable.scss';

@mixin display($property) {
    display: $property;
}

@mixin flex-property($justify,$align) {
    justify-content: $justify;
    align-items: $align;
}

@mixin t-transform($t-transform) {
    text-transform: $t-transform;
}

@mixin t-decoration($t-decoration) {
    text-decoration: $t-decoration;
}

@mixin col-center {
    flex-direction: column;
    margin: 0 auto;
    max-width: 620px;
}

@mixin position($position) {
    position: $position;
}

@mixin popover-arrow {
    position: absolute;
            bottom: -32px;
            left: 1px;
            background-color: #ffffff;
            transform: translate(50%, -50%) rotate(45deg);
            height: 16px;
            width: 16px;
}

@mixin popover {
    max-width: 336px;
    padding: 16px 24px;
    border-radius: 10px;
    box-shadow: 0px 14px 34px rgba(23, 55, 87, 0.1);
    margin-top: 50px;
    margin-bottom: 24px;
    color: $main-color;
}

@mixin shadow {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 14px 34px rgba(23, 55, 87, 0.1);
}

@mixin tb-border-gray {
    border-top: 1px solid $border-gray;
    border-bottom: 1px solid $border-gray;
}