// colors

$main-color : #222222;
$sec-color : #484848;
$tcolor-gray : #717171;
$border-gray : #3a3737;
$color-white : #ffffff;

$primary-color: #b9b9be;
$secondary-color: #fdfdfd;


// size



// fonts

// $text-xs : 12px;
// $text-s : 14px;
// $text-base : 16px;
// $text-medium : 18px;
// $text-body-lg : 21px;
// $text-lg : 24px;
// $text-xl : 28px;
// $text-2xl : 30px;
// $text-40 : 40px;
// $text-3xl : 48px;

$font-sizes : (
    "text-xs" : 12px,
    "text-s" : 14px,
    "text-base" : 16px,
    "text-medium" : 18px,
    "text-body-lg" : 21px,
    "text-lg" : 24px,
    "text-xl" : 28px,
    "text-2xl" : 30px,
    "text-40" : 40px,
    "text-3xl" : 48px,
);


$mobile: 480px;