// colors

$main-color : #222222;
$sec-color : #484848;
$tcolor-gray : #717171;
$border-gray : #ccc;


// size




// fonts

$text-xs : 12px;
$text-s : 14px;
$text-base : 16px;
$text-medium : 18px;
$text-lg : 24px;
$text-xl : 28px;
$text-2xl : 48px;