// colors

$maincolor : #123425;
$sec-color : #484848;
$tcolor-black : #222222;
$tcolor-gray : #717171;
$border-gray : #ccc;


// size


// fonts

$regular : 16px;
$medium : 18px;
$large : 22px;
$Xlarge : 48px;