/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

body {
  max-width: 1270px;
  width: 90%;
  margin: 32px auto; }

body .container-main .container-about h1 {
  color: #484848;
  font-size: 48px;
  text-transform: capitalize; }

body .container-main .container-skills .title2 {
  color: #222222;
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 4px; }

body .container-main .container-skills .desc-skills .skills .box1 .title3 {
  color: #222222;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 4px; }

body .container-main .container-about .text-base, body .container-main .container-skills .desc-skills, body .container-main .container-skills .desc-skills .skills .box1 .text-base, .text-base, .desc-skills {
  font-size: 16px;
  color: #484848;
  margin-bottom: 16px; }

body {
  max-width: 1270px;
  width: 90%;
  margin: 32px auto; }

body .container-main .container-about h1 {
  color: #484848;
  font-size: 48px;
  text-transform: capitalize; }

body .container-main .container-skills .title2 {
  color: #222222;
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 4px; }

body .container-main .container-skills .desc-skills .skills .box1 .title3 {
  color: #222222;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 4px; }

body .container-main .container-about .text-base, body .container-main .container-skills .desc-skills, body .container-main .container-skills .desc-skills .skills .box1 .text-base, .text-base, .desc-skills {
  font-size: 16px;
  color: #484848;
  margin-bottom: 16px; }

body .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px; }
  body .header span {
    font-size: 24px; }
  body .header .nav {
    display: flex; }
    body .header .nav .nav-li {
      text-transform: capitalize;
      margin-left: 32px; }

body .container-main {
  max-width: 780px; }
  body .container-main .container-about h1 {
    margin-bottom: 16px; }
  body .container-main .container-about .text-base {
    width: 70%;
    margin-bottom: 24px; }
  body .container-main .container-about .contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 288px; }
  body .container-main .container-skills .desc-skills .skills {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }

.contact-li {
  margin-bottom: 8px;
  color: #484848; }
  .contact-li a {
    color: #484848; }
