/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/open-sans/open-sans-v17-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../../fonts/open-sans/open-sans-v17-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/open-sans/open-sans-v17-latin-regular.woff2") format("woff2"), url("../../fonts/open-sans/open-sans-v17-latin-regular.woff") format("woff"), url("../../fonts/open-sans/open-sans-v17-latin-regular.ttf") format("truetype"), url("../../fonts/open-sans/open-sans-v17-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/open-sans/open-sans-v17-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("../../fonts/open-sans/open-sans-v17-latin-italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/open-sans/open-sans-v17-latin-italic.woff2") format("woff2"), url("../../fonts/open-sans/open-sans-v17-latin-italic.woff") format("woff"), url("../../fonts/open-sans/open-sans-v17-latin-italic.ttf") format("truetype"), url("../../fonts/open-sans/open-sans-v17-latin-italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/open-sans/open-sans-v17-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../../fonts/open-sans/open-sans-v17-latin-600.eot?#iefix") format("embedded-opentype"), url("../../fonts/open-sans/open-sans-v17-latin-600.woff2") format("woff2"), url("../../fonts/open-sans/open-sans-v17-latin-600.woff") format("woff"), url("../../fonts/open-sans/open-sans-v17-latin-600.ttf") format("truetype"), url("../../fonts/open-sans/open-sans-v17-latin-600.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url("../../fonts/open-sans/open-sans-v17-latin-600italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url("../../fonts/open-sans/open-sans-v17-latin-600italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/open-sans/open-sans-v17-latin-600italic.woff2") format("woff2"), url("../../fonts/open-sans/open-sans-v17-latin-600italic.woff") format("woff"), url("../../fonts/open-sans/open-sans-v17-latin-600italic.ttf") format("truetype"), url("../../fonts/open-sans/open-sans-v17-latin-600italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/open-sans/open-sans-v17-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../../fonts/open-sans/open-sans-v17-latin-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/open-sans/open-sans-v17-latin-700.woff2") format("woff2"), url("../../fonts/open-sans/open-sans-v17-latin-700.woff") format("woff"), url("../../fonts/open-sans/open-sans-v17-latin-700.ttf") format("truetype"), url("../../fonts/open-sans/open-sans-v17-latin-700.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/open-sans/open-sans-v17-latin-800.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("../../fonts/open-sans/open-sans-v17-latin-800.eot?#iefix") format("embedded-opentype"), url("../../fonts/open-sans/open-sans-v17-latin-800.woff2") format("woff2"), url("../../fonts/open-sans/open-sans-v17-latin-800.woff") format("woff"), url("../../fonts/open-sans/open-sans-v17-latin-800.ttf") format("truetype"), url("../../fonts/open-sans/open-sans-v17-latin-800.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'EB Garamond';
  src: url("../../fonts/EBGaramon/EBGaramond-Regular.eot");
  src: url("../../fonts/EBGaramon/EBGaramond-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/EBGaramon/EBGaramond-Regular.woff2") format("woff2"), url("../../fonts/EBGaramon/EBGaramond-Regular.woff") format("woff"), url("../../fonts/EBGaramon/EBGaramond-Regular.ttf") format("truetype"), url("../../fonts/EBGaramon/EBGaramond-Regular.svg#EBGaramond-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'EB Garamond';
  src: url("../../fonts/EBGaramon/EBGaramond-Bold.eot");
  src: url("../../fonts/EBGaramon/EBGaramond-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/EBGaramon/EBGaramond-Bold.woff2") format("woff2"), url("../../fonts/EBGaramon/EBGaramond-Bold.woff") format("woff"), url("../../fonts/EBGaramon/EBGaramond-Bold.ttf") format("truetype"), url("../../fonts/EBGaramon/EBGaramond-Bold.svg#EBGaramond-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'EB Garamond';
  src: url("../../fonts/EBGaramon/EBGaramond-Medium.eot");
  src: url("../../fonts/EBGaramon/EBGaramond-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/EBGaramon/EBGaramond-Medium.woff2") format("woff2"), url("../../fonts/EBGaramon/EBGaramond-Medium.woff") format("woff"), url("../../fonts/EBGaramon/EBGaramond-Medium.ttf") format("truetype"), url("../../fonts/EBGaramon/EBGaramond-Medium.svg#EBGaramond-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'EB Garamond';
  src: url("../../fonts/EBGaramon/EBGaramond-SemiBold.eot");
  src: url("../../fonts/EBGaramon/EBGaramond-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/EBGaramon/EBGaramond-SemiBold.woff2") format("woff2"), url("../../fonts/EBGaramon/EBGaramond-SemiBold.woff") format("woff"), url("../../fonts/EBGaramon/EBGaramond-SemiBold.ttf") format("truetype"), url("../../fonts/EBGaramon/EBGaramond-SemiBold.svg#EBGaramond-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'EB Garamond';
  src: url("../../fonts/EBGaramon/EBGaramond-ExtraBold.eot");
  src: url("../../fonts/EBGaramon/EBGaramond-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/EBGaramon/EBGaramond-ExtraBold.woff2") format("woff2"), url("../../fonts/EBGaramon/EBGaramond-ExtraBold.woff") format("woff"), url("../../fonts/EBGaramon/EBGaramond-ExtraBold.ttf") format("truetype"), url("../../fonts/EBGaramon/EBGaramond-ExtraBold.svg#EBGaramond-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }

/* caladea-regular - latin */
@font-face {
  font-family: 'Caladea';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/caladea/caladea-v1-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Caladea Regular"), local("Caladea-Regular"), url("../../fonts/caladea/caladea-v1-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/caladea/caladea-v1-latin-regular.woff2") format("woff2"), url("../../fonts/caladea/caladea-v1-latin-regular.woff") format("woff"), url("../../fonts/caladea/caladea-v1-latin-regular.ttf") format("truetype"), url("../../fonts/caladea/caladea-v1-latin-regular.svg#Caladea") format("svg");
  /* Legacy iOS */ }

/* caladea-700 - latin */
@font-face {
  font-family: 'Caladea';
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/caladea/caladea-v1-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Caladea Bold"), local("Caladea-Bold"), url("../../fonts/caladea/caladea-v1-latin-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/caladea/caladea-v1-latin-700.woff2") format("woff2"), url("../../fonts/caladea/caladea-v1-latin-700.woff") format("woff"), url("../../fonts/caladea/caladea-v1-latin-700.ttf") format("truetype"), url("../../fonts/caladea/caladea-v1-latin-700.svg#Caladea") format("svg");
  /* Legacy iOS */ }

.container-main, footer .footer-content {
  max-width: 1270px;
  width: 90%;
  margin: 0 auto; }

.container-main h1, .container-main .main-content {
  max-width: 680px;
  width: 100%;
  margin: 0 auto; }

.container-main .value-p .text-value h1 {
  color: #222222;
  font-size: 48px;
  text-transform: capitalize;
  font-weight: 800;
  margin: 32px 0 8px 0; }

.container-main h1 {
  color: #222222;
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 32px; }

.container-main .featured .featured-text .featured-ttl {
  font-size: 30px;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 700;
  letter-spacing: 0.5px; }

.container-main .featured .boxes .box h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px; }

.container-main .section-reviews .review .popover p {
  font-size: 16px;
  color: #484848;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin-bottom: 4px; }

.container-main .featured .featured-text .featured-sub-ttl, .container-main .main-content p {
  font-size: 21px;
  color: #222222;
  line-height: 30px;
  letter-spacing: 0.3px; }

.container-main .featured .boxes .box p {
  font-size: 18px;
  color: #484848;
  line-height: 26px;
  letter-spacing: 0.3px; }

.container-main, footer .footer-content {
  max-width: 1270px;
  width: 90%;
  margin: 0 auto; }

.container-main h1, .container-main .main-content {
  max-width: 680px;
  width: 100%;
  margin: 0 auto; }

.container-main .value-p .text-value h1 {
  color: #222222;
  font-size: 48px;
  text-transform: capitalize;
  font-weight: 800;
  margin: 32px 0 8px 0; }

.container-main h1 {
  color: #222222;
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 32px; }

.container-main .featured .featured-text .featured-ttl {
  font-size: 30px;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 700;
  letter-spacing: 0.5px; }

.container-main .featured .boxes .box h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px; }

.container-main .section-reviews .review .popover p {
  font-size: 16px;
  color: #484848;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin-bottom: 4px; }

.container-main .featured .featured-text .featured-sub-ttl, .container-main .main-content p {
  font-size: 21px;
  color: #222222;
  line-height: 30px;
  letter-spacing: 0.3px; }

.container-main .featured .boxes .box p {
  font-size: 18px;
  color: #484848;
  line-height: 26px;
  letter-spacing: 0.3px; }

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/open-sans/open-sans-v17-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../../fonts/open-sans/open-sans-v17-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/open-sans/open-sans-v17-latin-regular.woff2") format("woff2"), url("../../fonts/open-sans/open-sans-v17-latin-regular.woff") format("woff"), url("../../fonts/open-sans/open-sans-v17-latin-regular.ttf") format("truetype"), url("../../fonts/open-sans/open-sans-v17-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/open-sans/open-sans-v17-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("../../fonts/open-sans/open-sans-v17-latin-italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/open-sans/open-sans-v17-latin-italic.woff2") format("woff2"), url("../../fonts/open-sans/open-sans-v17-latin-italic.woff") format("woff"), url("../../fonts/open-sans/open-sans-v17-latin-italic.ttf") format("truetype"), url("../../fonts/open-sans/open-sans-v17-latin-italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/open-sans/open-sans-v17-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../../fonts/open-sans/open-sans-v17-latin-600.eot?#iefix") format("embedded-opentype"), url("../../fonts/open-sans/open-sans-v17-latin-600.woff2") format("woff2"), url("../../fonts/open-sans/open-sans-v17-latin-600.woff") format("woff"), url("../../fonts/open-sans/open-sans-v17-latin-600.ttf") format("truetype"), url("../../fonts/open-sans/open-sans-v17-latin-600.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url("../../fonts/open-sans/open-sans-v17-latin-600italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url("../../fonts/open-sans/open-sans-v17-latin-600italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/open-sans/open-sans-v17-latin-600italic.woff2") format("woff2"), url("../../fonts/open-sans/open-sans-v17-latin-600italic.woff") format("woff"), url("../../fonts/open-sans/open-sans-v17-latin-600italic.ttf") format("truetype"), url("../../fonts/open-sans/open-sans-v17-latin-600italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/open-sans/open-sans-v17-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../../fonts/open-sans/open-sans-v17-latin-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/open-sans/open-sans-v17-latin-700.woff2") format("woff2"), url("../../fonts/open-sans/open-sans-v17-latin-700.woff") format("woff"), url("../../fonts/open-sans/open-sans-v17-latin-700.ttf") format("truetype"), url("../../fonts/open-sans/open-sans-v17-latin-700.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/open-sans/open-sans-v17-latin-800.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("../../fonts/open-sans/open-sans-v17-latin-800.eot?#iefix") format("embedded-opentype"), url("../../fonts/open-sans/open-sans-v17-latin-800.woff2") format("woff2"), url("../../fonts/open-sans/open-sans-v17-latin-800.woff") format("woff"), url("../../fonts/open-sans/open-sans-v17-latin-800.ttf") format("truetype"), url("../../fonts/open-sans/open-sans-v17-latin-800.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'EB Garamond';
  src: url("../../fonts/EBGaramon/EBGaramond-Regular.eot");
  src: url("../../fonts/EBGaramon/EBGaramond-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/EBGaramon/EBGaramond-Regular.woff2") format("woff2"), url("../../fonts/EBGaramon/EBGaramond-Regular.woff") format("woff"), url("../../fonts/EBGaramon/EBGaramond-Regular.ttf") format("truetype"), url("../../fonts/EBGaramon/EBGaramond-Regular.svg#EBGaramond-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'EB Garamond';
  src: url("../../fonts/EBGaramon/EBGaramond-Bold.eot");
  src: url("../../fonts/EBGaramon/EBGaramond-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/EBGaramon/EBGaramond-Bold.woff2") format("woff2"), url("../../fonts/EBGaramon/EBGaramond-Bold.woff") format("woff"), url("../../fonts/EBGaramon/EBGaramond-Bold.ttf") format("truetype"), url("../../fonts/EBGaramon/EBGaramond-Bold.svg#EBGaramond-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'EB Garamond';
  src: url("../../fonts/EBGaramon/EBGaramond-Medium.eot");
  src: url("../../fonts/EBGaramon/EBGaramond-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/EBGaramon/EBGaramond-Medium.woff2") format("woff2"), url("../../fonts/EBGaramon/EBGaramond-Medium.woff") format("woff"), url("../../fonts/EBGaramon/EBGaramond-Medium.ttf") format("truetype"), url("../../fonts/EBGaramon/EBGaramond-Medium.svg#EBGaramond-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'EB Garamond';
  src: url("../../fonts/EBGaramon/EBGaramond-SemiBold.eot");
  src: url("../../fonts/EBGaramon/EBGaramond-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/EBGaramon/EBGaramond-SemiBold.woff2") format("woff2"), url("../../fonts/EBGaramon/EBGaramond-SemiBold.woff") format("woff"), url("../../fonts/EBGaramon/EBGaramond-SemiBold.ttf") format("truetype"), url("../../fonts/EBGaramon/EBGaramond-SemiBold.svg#EBGaramond-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'EB Garamond';
  src: url("../../fonts/EBGaramon/EBGaramond-ExtraBold.eot");
  src: url("../../fonts/EBGaramon/EBGaramond-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/EBGaramon/EBGaramond-ExtraBold.woff2") format("woff2"), url("../../fonts/EBGaramon/EBGaramond-ExtraBold.woff") format("woff"), url("../../fonts/EBGaramon/EBGaramond-ExtraBold.ttf") format("truetype"), url("../../fonts/EBGaramon/EBGaramond-ExtraBold.svg#EBGaramond-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }

/* caladea-regular - latin */
@font-face {
  font-family: 'Caladea';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/caladea/caladea-v1-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Caladea Regular"), local("Caladea-Regular"), url("../../fonts/caladea/caladea-v1-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/caladea/caladea-v1-latin-regular.woff2") format("woff2"), url("../../fonts/caladea/caladea-v1-latin-regular.woff") format("woff"), url("../../fonts/caladea/caladea-v1-latin-regular.ttf") format("truetype"), url("../../fonts/caladea/caladea-v1-latin-regular.svg#Caladea") format("svg");
  /* Legacy iOS */ }

/* caladea-700 - latin */
@font-face {
  font-family: 'Caladea';
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/caladea/caladea-v1-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Caladea Bold"), local("Caladea-Bold"), url("../../fonts/caladea/caladea-v1-latin-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/caladea/caladea-v1-latin-700.woff2") format("woff2"), url("../../fonts/caladea/caladea-v1-latin-700.woff") format("woff"), url("../../fonts/caladea/caladea-v1-latin-700.ttf") format("truetype"), url("../../fonts/caladea/caladea-v1-latin-700.svg#Caladea") format("svg");
  /* Legacy iOS */ }

.container-main .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-family: 'Open Sans';
  position: fixed;
  top: 0;
  height: 66px;
  width: 90%;
  background-color: #ffffff; }
  .container-main .navigation .logo-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .container-main .navigation .logo-nav .nav-ul {
      display: flex; }
      .container-main .navigation .logo-nav .nav-ul .nav-li {
        margin-right: 32px; }

.container-main .value-p {
  flex-direction: column;
  margin: 0 auto;
  max-width: 620px;
  font-family: 'EB Garamond';
  margin-bottom: 160px;
  margin-top: 90px; }
  .container-main .value-p .text-value {
    text-align: center; }
    .container-main .value-p .text-value p {
      font-weight: 400;
      line-height: 28px; }
  .container-main .value-p .banner-img {
    width: 100%;
    margin: 32px 0 32px 0; }
  .container-main .value-p p {
    font-size: 30px;
    color: #484848;
    line-height: 40px;
    letter-spacing: 0.5px; }
    .container-main .value-p p .bold {
      font-weight: 700; }
    .container-main .value-p p .underline {
      text-decoration: underline; }

.container-main .featured .featured-text {
  flex-direction: column;
  margin: 0 auto;
  max-width: 620px;
  text-align: center; }
  .container-main .featured .featured-text .featured-ttl {
    text-transform: uppercase;
    font-family: 'Open Sans'; }
  .container-main .featured .featured-text .featured-sub-ttl {
    font-family: 'Caladea';
    margin-bottom: 32px; }

.container-main .featured ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 32px; }
  .container-main .featured ul li a {
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Open Sans';
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-right: 16px;
    color: #222222; }

.container-main .featured .boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 42px; }
  .container-main .featured .boxes .box {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 14px 34px rgba(23, 55, 87, 0.1);
    max-width: 330px;
    padding: 24px;
    margin: 8px;
    border-radius: 8px; }
    .container-main .featured .boxes .box h3 {
      text-transform: uppercase;
      font-family: 'Open Sans';
      font-weight: 800; }
    .container-main .featured .boxes .box p {
      font-family: 'Caladea'; }
    .container-main .featured .boxes .box img {
      max-width: 282px;
      margin-bottom: 16px; }
    .container-main .featured .boxes .box span {
      text-decoration: underline;
      font-family: 'Open Sans'; }

.container-main .section-reviews {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 8px; }
  .container-main .section-reviews .review {
    align-self: flex-start; }
    .container-main .section-reviews .review .popover {
      max-width: 336px;
      padding: 16px 24px;
      border-radius: 10px;
      box-shadow: 0px 14px 34px rgba(23, 55, 87, 0.1);
      margin-top: 50px;
      margin-bottom: 24px;
      color: #222222;
      position: relative; }
      .container-main .section-reviews .review .popover::after {
        content: "";
        position: absolute;
        bottom: -16px;
        left: 16px;
        width: 0;
        height: 0;
        border-top: 16px solid #ffffff;
        border-right: 24px solid transparent; }
      .container-main .section-reviews .review .popover p {
        font-family: 'Caladea'; }
    .container-main .section-reviews .review .img-name-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 300px; }
      .container-main .section-reviews .review .img-name-wrap img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 100%; }
      .container-main .section-reviews .review .img-name-wrap ul {
        text-transform: uppercase;
        font-size: 12px;
        font-family: 'Open Sans';
        margin-right: 16px;
        color: #222222; }
        .container-main .section-reviews .review .img-name-wrap ul .name {
          margin-bottom: 6px; }

footer {
  background-color: #222222;
  color: #ffffff;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 48px; }
  footer .footer-content {
    width: 86%; }
    footer .footer-content h2 {
      font-size: 30px;
      margin-bottom: 16px; }
    footer .footer-content .about-mail-wrap {
      font-family: 'Open Sans'; }
      footer .footer-content .about-mail-wrap p {
        font-size: 18px;
        margin-bottom: 4px; }
        footer .footer-content .about-mail-wrap p a {
          color: #ffffff; }
    footer .footer-content .copy-social {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      border-top: 1px solid #3a3737;
      border-bottom: 1px solid #3a3737;
      flex-wrap: wrap;
      margin: 32px 0 32px 0;
      padding: 16px 0 16px 0;
      font-family: 'Open Sans';
      font-size: 18px; }
      footer .footer-content .copy-social ul {
        display: flex;
        align-items: center;
        justify-content: center; }
        footer .footer-content .copy-social ul li a::after {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 100%;
          background-color: #ffffff;
          display: block; }
      footer .footer-content .copy-social ul {
        display: flex; }
        footer .footer-content .copy-social ul li {
          margin-left: 8px; }
          footer .footer-content .copy-social ul li a {
            color: #ffffff; }
            footer .footer-content .copy-social ul li a ion-icon {
              font-size: 24px;
              color: #ffffff; }
    footer .footer-content div p {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 300;
      font-size: 18px; }
      footer .footer-content div p a {
        text-decoration: underline;
        color: #ffffff; }

.container-main, footer .footer-content {
  max-width: 1270px;
  width: 90%;
  margin: 0 auto; }

.container-main h1, .container-main .main-content {
  max-width: 680px;
  width: 100%;
  margin: 0 auto; }

.container-main .value-p .text-value h1 {
  color: #222222;
  font-size: 48px;
  text-transform: capitalize;
  font-weight: 800;
  margin: 32px 0 8px 0; }

.container-main h1 {
  color: #222222;
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 32px; }

.container-main .featured .featured-text .featured-ttl {
  font-size: 30px;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 700;
  letter-spacing: 0.5px; }

.container-main .featured .boxes .box h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px; }

.container-main .section-reviews .review .popover p {
  font-size: 16px;
  color: #484848;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin-bottom: 4px; }

.container-main .featured .featured-text .featured-sub-ttl, .container-main .main-content p {
  font-size: 21px;
  color: #222222;
  line-height: 30px;
  letter-spacing: 0.3px; }

.container-main .featured .boxes .box p {
  font-size: 18px;
  color: #484848;
  line-height: 26px;
  letter-spacing: 0.3px; }

.container-main {
  margin-top: 90px; }
  .container-main h1 {
    font-family: 'EB Garamond'; }
  .container-main .main-content {
    font-family: 'Caladea'; }
    .container-main .main-content p {
      margin-bottom: 24px; }
      .container-main .main-content p .letter-box {
        color: orange;
        float: left;
        margin: 10px 10px 4px 0;
        width: 70px;
        height: 70px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        padding: 4px 0 5px;
        font-size: 60px;
        line-height: 60px;
        border-top: 3px solid black;
        border-left: 3px solid black; }
    .container-main .main-content p .uppercase-italic {
      font-family: 'Oswald', sans-serif;
      font-weight: 300;
      color: orange;
      text-transform: uppercase;
      font-style: italic;
      font-size: 27px;
      float: right;
      width: 45%;
      border-bottom: 4px solid #282828;
      border-right: 4px solid #282828;
      padding: 10px 0 24px 10px;
      margin: 14px 0 24px 0; }
  .container-main .images {
    margin-bottom: 32px; }
    .container-main .images img {
      max-width: 33%; }
