/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

.container-main, footer .footer-content {
  max-width: 1270px;
  width: 90%;
  margin: 0 auto; }

.container-main h1, .container-main .main-content {
  max-width: 680px;
  width: 100%;
  margin: 0 auto; }

.container-main .value-p .text h1 {
  color: #222222;
  font-size: 48px;
  text-transform: capitalize;
  font-weight: 800;
  margin: 32px 0 8px 0; }

.container-main h1 {
  color: #222222;
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 32px; }

.container-main .value-p .text p, .container-main .featured .featured-title h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  letter-spacing: 0.5px; }

.container-main .featured .boxes .box h3 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-bottom: 8px; }

.container-main .section-reviews .review .popover p {
  font-size: 16px;
  color: #484848;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin-bottom: 4px; }

.container-main .featured .featured-title p, .container-main .main-content p {
  font-size: 21px;
  color: #222222;
  line-height: 30px;
  letter-spacing: 0.3px; }

.container-main .featured .boxes .box p {
  font-size: 18px;
  color: #484848;
  line-height: 26px;
  letter-spacing: 0.3px; }

.container-main .navigation {
  font-size: 18px;
  color: #222222;
  font-weight: 400;
  letter-spacing: 0.5px; }

.container-main, footer .footer-content {
  max-width: 1270px;
  width: 90%;
  margin: 0 auto; }

.container-main h1, .container-main .main-content {
  max-width: 680px;
  width: 100%;
  margin: 0 auto; }

.container-main .value-p .text h1 {
  color: #222222;
  font-size: 48px;
  text-transform: capitalize;
  font-weight: 800;
  margin: 32px 0 8px 0; }

.container-main h1 {
  color: #222222;
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 32px; }

.container-main .value-p .text p, .container-main .featured .featured-title h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  letter-spacing: 0.5px; }

.container-main .featured .boxes .box h3 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-bottom: 8px; }

.container-main .section-reviews .review .popover p {
  font-size: 16px;
  color: #484848;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin-bottom: 4px; }

.container-main .featured .featured-title p, .container-main .main-content p {
  font-size: 21px;
  color: #222222;
  line-height: 30px;
  letter-spacing: 0.3px; }

.container-main .featured .boxes .box p {
  font-size: 18px;
  color: #484848;
  line-height: 26px;
  letter-spacing: 0.3px; }

.container-main .navigation {
  font-size: 18px;
  color: #222222;
  font-weight: 400;
  letter-spacing: 0.5px; }

.container-main .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-family: 'Josefin Sans', sans-serif;
  position: fixed;
  top: 0;
  height: 66px;
  width: 90%;
  background-color: #ffffff; }
  .container-main .navigation .logo-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .container-main .navigation .logo-nav ul {
      display: flex; }
      .container-main .navigation .logo-nav ul .nav-li {
        margin-right: 32px; }

.container-main .value-p {
  flex-direction: column;
  margin: 0 auto;
  max-width: 620px;
  font-family: 'EB Garamond', serif;
  margin-bottom: 160px;
  margin-top: 90px; }
  .container-main .value-p .text {
    text-align: center; }
    .container-main .value-p .text p {
      line-height: 28px; }
  .container-main .value-p .banner-img {
    width: 100%;
    margin: 32px 0 32px 0; }
  .container-main .value-p p {
    font-size: 30px;
    color: #484848;
    line-height: 40px;
    letter-spacing: 0.5px; }
    .container-main .value-p p .bold {
      font-weight: 700; }
    .container-main .value-p p .underline {
      text-decoration: underline; }

.container-main .featured .featured-title {
  flex-direction: column;
  margin: 0 auto;
  max-width: 620px;
  text-align: center; }
  .container-main .featured .featured-title h2 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif; }
  .container-main .featured .featured-title p {
    font-family: 'Caladea', serif;
    margin-bottom: 32px; }

.container-main .featured ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 32px; }
  .container-main .featured ul li a {
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-right: 16px;
    color: #222222; }

.container-main .featured .boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 42px; }
  .container-main .featured .boxes .box {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 14px 34px rgba(23, 55, 87, 0.1);
    max-width: 330px;
    padding: 24px;
    margin: 8px;
    border-radius: 8px; }
    .container-main .featured .boxes .box h3 {
      text-transform: uppercase;
      font-family: 'Oswald', sans-serif; }
    .container-main .featured .boxes .box p {
      font-family: 'Caladea', serif; }
    .container-main .featured .boxes .box img {
      max-width: 282px;
      margin-bottom: 16px; }
    .container-main .featured .boxes .box span {
      text-decoration: underline; }

.container-main .section-reviews {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 8px; }
  .container-main .section-reviews .review {
    align-self: flex-start; }
    .container-main .section-reviews .review .popover {
      max-width: 336px;
      padding: 16px 24px;
      border-radius: 10px;
      box-shadow: 0px 14px 34px rgba(23, 55, 87, 0.1);
      margin-top: 50px;
      margin-bottom: 24px;
      color: #222222;
      position: relative; }
      .container-main .section-reviews .review .popover::after {
        content: "";
        position: absolute;
        bottom: -16px;
        left: 16px;
        width: 0;
        height: 0;
        border-top: 16px solid #ffffff;
        border-right: 24px solid transparent; }
      .container-main .section-reviews .review .popover p {
        font-family: 'Caladea', serif; }
    .container-main .section-reviews .review .img-name-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 260px; }
      .container-main .section-reviews .review .img-name-wrap img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 100%; }
      .container-main .section-reviews .review .img-name-wrap ul {
        text-transform: uppercase;
        font-size: 12px;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        letter-spacing: 0.5px;
        margin-right: 16px;
        color: #222222; }
        .container-main .section-reviews .review .img-name-wrap ul .name {
          margin-bottom: 6px; }

footer {
  background-color: #222222;
  color: #ffffff;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 48px; }
  footer .footer-content {
    width: 86%; }
    footer .footer-content h2 {
      font-size: 30px;
      margin-bottom: 16px; }
    footer .footer-content .about-mail-wrap {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 300; }
      footer .footer-content .about-mail-wrap p {
        font-size: 18px;
        margin-bottom: 4px; }
        footer .footer-content .about-mail-wrap p a {
          color: #ffffff; }
    footer .footer-content .copy-social {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      border-top: 1px solid #3a3737;
      border-bottom: 1px solid #3a3737;
      flex-wrap: wrap;
      margin: 32px 0 32px 0;
      padding: 16px 0 16px 0;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 300;
      font-size: 18px; }
      footer .footer-content .copy-social ul {
        display: flex; }
        footer .footer-content .copy-social ul li {
          margin-right: 4px; }
          footer .footer-content .copy-social ul li a {
            color: #ffffff; }
    footer .footer-content div p {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 300;
      font-size: 18px; }
      footer .footer-content div p a {
        text-decoration: underline;
        color: #ffffff; }

.container-main, footer .footer-content {
  max-width: 1270px;
  width: 90%;
  margin: 0 auto; }

.container-main h1, .container-main .main-content {
  max-width: 680px;
  width: 100%;
  margin: 0 auto; }

.container-main .value-p .text h1 {
  color: #222222;
  font-size: 48px;
  text-transform: capitalize;
  font-weight: 800;
  margin: 32px 0 8px 0; }

.container-main h1 {
  color: #222222;
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 32px; }

.container-main .value-p .text p, .container-main .featured .featured-title h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  letter-spacing: 0.5px; }

.container-main .featured .boxes .box h3 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-bottom: 8px; }

.container-main .section-reviews .review .popover p {
  font-size: 16px;
  color: #484848;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin-bottom: 4px; }

.container-main .featured .featured-title p, .container-main .main-content p {
  font-size: 21px;
  color: #222222;
  line-height: 30px;
  letter-spacing: 0.3px; }

.container-main .featured .boxes .box p {
  font-size: 18px;
  color: #484848;
  line-height: 26px;
  letter-spacing: 0.3px; }

.container-main .navigation {
  font-size: 18px;
  color: #222222;
  font-weight: 400;
  letter-spacing: 0.5px; }

.container-main {
  margin-top: 90px; }
  .container-main h1 {
    font-family: 'EB Garamond', serif; }
  .container-main .main-content {
    font-family: 'Caladea', serif; }
    .container-main .main-content p {
      margin-bottom: 24px; }
      .container-main .main-content p .letter-box {
        color: orange;
        float: left;
        margin: 10px 10px 4px 0;
        width: 70px;
        height: 70px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        padding: 4px 0 5px;
        font-size: 60px;
        line-height: 60px;
        border-top: 3px solid black;
        border-left: 3px solid black; }
    .container-main .main-content p .uppercase-italic {
      font-family: 'Oswald', sans-serif;
      font-weight: 300;
      color: orange;
      text-transform: uppercase;
      font-style: italic;
      font-size: 27px;
      float: right;
      width: 45%;
      border-bottom: 4px solid #282828;
      border-right: 4px solid #282828;
      padding: 10px 0 24px 10px;
      margin: 14px 0 24px 0; }
  .container-main .images {
    margin-bottom: 32px; }
    .container-main .images img {
      max-width: 33%; }
